@charset "EUC-KR";

.bt1 button {
	 
	 
  margin-left : 75px;
  padding: 8px 24px;

  cursor: pointer;

 
   	text-align: center;

	border: 1px solid #000;
	border-radius: 5px;
	background-color: #94716B;
	
	
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* 마우스 올렸을때 */
.bt1 button:hover {
 background: #ffffff; 
 color: #000000;
 }
.bt1 button:not(:last-child) {
		 border-right: none;
		 border-bottom: none;
		 border-left: none;
		 border-top: none;
	
}